body{
    margin: 0;
    padding: 0;
    background-color: #415a77;
}

#Main{
    display: flex;
    justify-content: center;
    gap: 400px;
    margin: 25px;
}

#gridWrapper{
    height: 640px;
    width: 640px;
    background-color: #1b263b;
    padding: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 25px;
}

#gridContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 610px;
}

.pixel{ /*Padding is Added from JS*/
    border: 1px solid grey;
    background-color: white;
}


#Control{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


header{
    display: flex;
    background-color: #1b263b;
    font-family: 'Public Pixel', sans-serif;
    color: #e0e1dd;
    font-size: 24px;
    justify-content: center;
    align-items: center;
    height: 99px;
}

#footer{
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1b263b;
    padding-bottom: 0;
    margin-bottom:0 ;
}

#footer a{
    text-decoration: none;
    color: #e0e1dd;
}

input[type="color"] {
	opacity: 0;
	display: block;
	width: 100px;
	height: 100px;
	border: none;
}
#color-picker-wrapper {
	float: left;
  border-radius: 75%;
}

.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  height: 45px;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 6px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}


.button-40 {
  background-color: #111827;
  border: 1px solid transparent;
  border-radius: .75rem;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex: 0 0 auto;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.5rem;
  padding: .75rem 1.2rem;
  text-align: center;
  text-decoration: none #6B7280 solid;
  text-decoration-thickness: auto;
  transition-duration: .2s;
  transition-property: background-color,border-color,color,fill,stroke;
  transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 150px;
  height: 45px;
}

.button-40:hover {
  background-color: #374151;
}

.button-40:focus {
  box-shadow: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

@media (min-width: 768px) {
  .button-40 {
    padding: .75rem 1.5rem;
  }
}